.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 150px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 80px;
  color: white;
}

.App-title {
  font-size: 4em;
  font-family: Impact, sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
  background: #ce7406;
  border-radius: 10px;
  display: inline-block;
  margin-top: 50px;
  padding: 25px;
  font-size: 30px;
  color: white;
  font-family: Impact, sans-serif;
}

.prevArrow {

}

.nextArrow {

}
